# ======================
# Node
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Env files (MUY IMPORTANTE)
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Build / dist
# ======================
dist/
build/

# ======================
# Vite
# ======================
.vite

# ======================
# Uploads (si tenés imágenes locales)
# ======================
uploads/

# ======================
# Coverage / testing
# ======================
coverage/

# ======================
# Misc
# ======================
*.local